@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root {
  /* Colors */
  --color-primary: #b95cd4;
  --color-base: #15171A;
  --color-text: #fff;
  --color-secondary: #d886c8;
  --color-border: #c7d5d8;
  --color-bg: #f5f5f5;

  /* Fonts */
  --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-serif: Georgia, Times, serif;
  --font-mono: Menlo, Courier, monospace;
  --font-light: 100;
  --font-normal: 400;
  --font-bold: 700;
  --font-heavy: 800;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}