
.navbar{
    width: 100%;
    height: 80px;
    background-color: var(--color-primary);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    color: var(--color-text);
    font-size: 26px;
    font-weight: 600;
}

.navbar .links{
    color: var(--color-text);
    display: flex;
    cursor: pointer;
    list-style: none;
}

.navbar .links li{
    margin: 0 15px;
    font-size: 14px;
    font-weight: 600;
    
}

.navbar .toggle-icon{
    display: none;
}

@media(max-width:768px){
    .navbar{
        position: relative;
        transition: 0.5s height ease-in-out;
    }
    .navbar.expanded{
        height: 100vh;
    }
    .navbar.expanded .links{
        position: absolute;
        top:120px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar.expanded .links li{
        margin: 15px 0;
        font-size: 24px;

    }
    .navbar .logo{
        position: absolute;
        top: 23px;
        left: 20px;
    }
    .navbar .toggle-icon{
        display: block;
        position: absolute;
        top: 28px;
        right: 20px;
        color: var(--color-text);
        cursor: pointer;
    }
    .navbar .links{
        display: none;
    }
}